---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.jsx";
import Donut from "../components/Donut.jsx";
import Reel from "../components/Reel.astro";
import Testimonial from "../components/Testimonial.astro";
import { testimonials1 } from "../Index/Index_testimonials.js";
import { testimonials2 } from "../Index/Index_testimonials.js";
import { testimonials3 } from "../Index/Index_testimonials.js";
import { donuts } from "../Index/Index_donuts.js";
---

<Layout title="¡Donas!">
  <Navbar client:load />
  {/* MAIN----------------------------------------------- */}
  <main id="/" class="w-full min-h-screen bg-[#eeefe9] xl:pt-[70px] pt-[2px]">
    {/* BANNER----------------------------------------------- */}
    <div class="w-full md:h-[850px] h-screen banner relative flex shadow-xl">
      {/* BANNER CONTAINER----------------------------------------------- */}
      <div
        class="max-w-[1250px] w-full mx-auto self-end text-white z-40 flex flex-col gap-4 sm:px-10 px-3"
      >
        {/* TITLE----------------------------------------------- */}
        <div class="text-[min(13vw,80px)] font-medium flex flex-col">
          <div class="mb-[-20px]">Sumérgete en el</div>
          <div>¡Paraíso de las Donas!</div>
        </div>
        {/* SUBTITLE----------------------------------------------- */}
        <div class="text-[min(4.6vw,19px)] max-w-[882px] font-light">
          Únete a Nosotros en un Viaje de Exploración Culinaria, Donde un Mundo de Sabores
          Te Espera en Cada Bocado. Nuestras Donas Son Más Que Simples Pasteles; Son
          Piezas de Arte Elaboradas a Mano Diseñadas para Elevar Tus Sentidos.
        </div>
        {/* SHOP NOW BUTTON----------------------------------------------- */}
        <div class="text-[min(4vw,16px)] font-medium flex pb-20 pt-6">
          <div class="bg-[#9959d0] py-[14px] px-7 rounded-full cursor-pointer purchaseBtn">
            Comprar Ahora
          </div>
        </div>
      </div>
      {/* BOT SHADOW----------------------------------------------- */}
      <div class="w-full h-full bannerShadowBot absolute"></div>
    </div>

    {/* CATALOGUE CONTAINER----------------------------------------------- */}
    <div
      id="catalogue"
      class="sm:pt-24 pt-20 w-full flex flex-col text-[#080808] sm:px-10 px-3 relative overflow-hidden"
    >
      {/* LEFT DESIGN----------------------------------------------- */}
      <div
        class="text-[#9959d0] text-[1000px] absolute left-[-300px] mark turn sm:flex hidden"
      >
        M
      </div>
      {/* RIGHT DESIGN----------------------------------------------- */}
      <div
        class="text-[#9959d0] text-[1000px] absolute right-[-300px] mark sm:flex hidden"
      >
        M
      </div>
      {/* TITLE----------------------------------------------- */}
      <div class="mx-auto text-[min(6vw,22px)] tracking-tight z-40 wavy">
        Catálogo
      </div>
      <div
        class="font-medium text-[min(13vw,60px)] mx-auto text-center pt-2 z-40"
      >
        <div>Tu Aventura</div>
        <div class="flex gap-x-3 flex-wrap mt-[-20px]">
          <div class="mx-auto mb-[-20px]">con Donas</div>
          <div class="mx-auto sm:mt-0">¡Comienza Aquí!</div>
        </div>
      </div>
      {/* DONUTS CONTAINER----------------------------------------------- */}
      <div
        class="w-full xl:max-w-[1250px] md:max-w-[800px] max-w-[425px] bg-white rounded-3xl mt-10 grid xl:grid-cols-3 md:grid-cols-2 grid-rows-2 gap-y-10 sm:py-10 p-3 mx-auto z-40"
      >
        {/* DONUTS MAP----------------------------------------------- */}
        {
          donuts.map((item) => (
            <Donut
              client:load
              name={item.name}
              image={item.image}
              price={item.price}
              buy={item.buy}
              new_={item.new_}
            />
          ))
        }
      </div>
    </div>
    {/* OUR STORY CONTAINER----------------------------------------------- */}
    <div
      id="about"
      class="grid xl:grid-cols-2 sm:px-10 px-3 sm:mt-36 mt-20 max-w-[1250px] mx-auto xl:text-start text-center"
    >
      <div class="w-[100%] flex justify-end xl:pr-8">
        <div class="max-w-[510px] xl:mx-0 mx-auto">
          <div
            class="text-[min(6vw,22px)] tracking-tight wavy xl:text-start text-center"
          >
            Nuestra Historia
          </div>
          <div
            class="font-medium text-[min(13vw,60px)] flex flex-col xl:text-start text-center"
          >
            <div class="pt-2">Donas Más Allá</div>
            <div class="mt-[-20px]">de la Imaginación</div>
          </div>
          <div class="mt-6 text-[min(4.6vw,19px)] font-light">
            Nuestra historia tiene sus raíces en una profunda pasión por las donas que se convirtió en una
            misión para compartir el amor por estos deliciosos pasteles con el mundo. Nuestro viaje comenzó
            en 2001, cuando un grupo de amigos unidos por su inquebrantable afecto por las donas decidieron
            transformar su entusiasmo colectivo en algo extraordinario. No éramos solo personas comunes;
            éramos entusiastas de las donas con historias que iban desde recuerdos de infancia de aventuras
            de fin de semana hasta primeros bocados inolvidables de obras maestras perfectamente glaseadas.
          </div>
        </div>
      </div>
      <div class="w-[100%] flex xl:pt-0 pt-10 xl:pl-8">
        <div
          class="h-[min(95vw,550px)] w-full sm:w-[510px] story rounded-3xl shadowStory xl:mx-0 mx-auto xl:flex hidden"
        >
        </div>
      </div>
    </div>
    {/* VOUCHERS CONTAINER----------------------------------------------- */}
    <div
      class="grid xl:grid-cols-2 sm:px-10 px-3 sm:mt-20 mt-10 max-w-[1250px] mx-auto"
    >
      {/* LEFT CONTAINER----------------------------------------------- */}
      <div class="w-[100%] flex flex-col gap-10">
        {
          /* VARIANTS CONTAINER----------------------------------------------- */
        }
        <div
          class="h-[min(90vw,400px)] w-full sm:w-[510px] variants rounded-3xl mx-auto rounded-br-none rounded-bl-none relative shadowStory"
        >
          <div class="ml-6 mb-6 bottom-0 left-0 absolute text-white">
            <div class="text-[min(5vw,22px)] tracking-tight">Cupón</div>
            <div class="font-medium text-[min(10vw,50px)]">
              <div>Nuevas Variantes</div>
            </div>
          </div>
        </div>
        {
          /* DISCOUNT CONTAINER----------------------------------------------- */
        }
        <div
          class="h-[min(85vw,385px)] w-full sm:w-[510px] bg-[#9959d0] mx-auto rounded-3xl overflow-hidden relative shadowStory"
        >
          <div
            class="absolute text-[min(150vw,750px)] text-[#a268d5] font-semibold top-[-350px] left-[-100px]"
          >
            %
          </div>

          <div
            class="purchaseBtn cursor-pointer py-2 px-6 bg-[#E7FC55] rounded-full font-medium text-[min(3.5vw,15px)] bottom-0 right-0 absolute mb-6 mr-6"
          >
            Reclamar
          </div>
          <div class="ml-6 mt-6 top-0 left-0 absolute text-white">
            <div class="text-[min(5vw,22px)] tracking-tight">Cupón</div>
            <div class="font-medium text-[min(10vw,50px)]">
              <div>Obtén 20% de Descuento</div><div class="mt-[-20px]">en Envío</div>
            </div>
          </div>
        </div>
      </div>
      {/* RIGHT CONTAINER----------------------------------------------- */}
      <div class="w-[100%] xl:flex hidden xl:pt-0 pt-10 xl:pl-8">
        {/* REEL CONTAINER----------------------------------------------- */}
        <Reel />
      </div>
    </div>
    {/* DIVIDER CONTAINER----------------------------------------------- */}
    <div class="text-[min(13vw,60px)] sm:mt-40 mt-28 overflow-hidden">
      <div class="absolute right-[50%] z-40 text-[min(4vw,15px)]">
        <div class="py-3 px-6 bg-[#BD9A81] text-white rounded-full">
          Serie Chocolate
        </div>
      </div>

      <div class="w-[5000px] ml-[-150px] relative">
        Glaseado de Chocolate • Relleno de Jalea • Dona Crema Boston • Glaseado de
        Chocolate • Relleno de Jalea • Dona Crema Boston • Glaseado de Chocolate •
        Relleno de Jalea • Dona Crema Boston
      </div>

      <div
        class="absolute sm:right-[30%] right-[10%] z-40 text-[min(4vw,15px)]"
      >
        <div class="py-3 px-6 bg-[#73CDFF] text-white rounded-full">
          Serie Helada
        </div>
      </div>

      <div class="w-[5000px] ml-[-100px] relative">
        Dona Crema Boston • Glaseado de Chocolate • Relleno de Jalea • Dona Crema
        Boston • Relleno de Jalea Dona Crema Boston • Dona Crema Boston • Glaseado de
        Chocolate • Relleno de Jalea
      </div>

      <div class="absolute left-[30%] z-40 text-[min(4vw,15px)]">
        <div class="py-3 px-6 bg-[#B3EF84] rounded-full text-black">
          Serie Gelatina
        </div>
      </div>

      <div class="w-[5000px] ml-[-175px] relative">
        Relleno de Jalea • Dona Crema Boston • Glaseado de Chocolate • Dona Crema
        Boston • Glaseado de Chocolate • Relleno de Jalea • Dona Crema Boston •
        Glaseado de Chocolate
      </div>
    </div>
    {/* TESTIMONIALS MAIN----------------------------------------------- */}
    <div
      id="testimonial"
      class="flex flex-col sm:px-10 px-3 sm:mt-36 mt-20 relative overflow-hidden"
    >
      {/* LEFT DESIGN----------------------------------------------- */}
      <div
        class="text-[#9959d0] text-[1000px] absolute left-[-300px] mark turn sm:flex hidden"
      >
        M
      </div>
      {/* RIGHT DESIGN----------------------------------------------- */}
      <div
        class="text-[#9959d0] text-[1000px] absolute right-[-300px] mark sm:flex hidden"
      >
        M
      </div>
      {/* TITLE----------------------------------------------- */}
      <div class="mx-auto text-[min(6vw,22px)] tracking-tight z-40 wavy">
        Testimonios
      </div>
      <div
        class="font-medium text-[min(13vw,60px)] mx-auto text-center pt-2 z-40"
      >
        <div>Opiniones de</div>
        <div class="flex gap-x-3 flex-wrap mt-[-20px]">
          <div class="mx-auto mb-[-20px]">Nuestros Amantes</div>
          <div class="mx-auto sm:mt-0">de las Donas</div>
        </div>
      </div>
      {
        /* TESTIMONIALS CONTAINER----------------------------------------------- */
      }
      <div
        class="flex w-full xl:max-w-[1225px] max-w-[800px] mt-10 mx-auto z-40 relative"
      >
        <div class="flex flex-col gap-y-8 mx-auto">
          {
            /* TESTIMONIALS MAP COL1----------------------------------------------- */
          }
          {
            testimonials1.map((item) => (
              <Testimonial
                name={item.name}
                image={item.image}
                description={item.testimonial}
              />
            ))
          }
        </div>
        <div class="xl:flex xl:flex-col gap-y-8 mx-auto hidden">
          {
            /* TESTIMONIALS MAP COL2----------------------------------------------- */
          }
          {
            testimonials2.map((item) => (
              <Testimonial
                name={item.name}
                image={item.image}
                description={item.testimonial}
              />
            ))
          }
        </div>
        <div class="lg:flex lg:flex-col gap-y-8 mx-auto hidden">
          {
            /* TESTIMONIALS MAP COL3----------------------------------------------- */
          }
          {
            testimonials3.map((item) => (
              <Testimonial
                name={item.name}
                image={item.image}
                description={item.testimonial}
              />
            ))
          }
        </div>
        <div class="w-full h-full absolute reviewShadowBot z-40"></div>
      </div>
    </div>
    <div class="w-full h-[200px]"></div>
  </main>
</Layout>

<style></style>

